.wow {
  width: 100px;
}
body {
  margin: 0;
  overflow: hidden;
  background: #000030;
}
#topText {
  position: absolute;
  left: 40%;
  top: -2%;
  font-family: 'Courier New', monospace;
  color: white;
}